%paddingsHeader{
padding: 1rem 0;    
}



%space-leter{
letter-spacing: $space-letter-big;
}

section.GridNav{
    width: 98%;
    margin:0 auto;
@extend %NavWidthLimit;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, auto);
grid-template-areas:"head1 head1 head1 head1 head1"
					"head3 head3 head3 head3 head3"
					"lnk1 lnk2 lnk3 lnk4 lnk5";
grid-gap: 8px 8px;
place-items: center center;
place-content: center center;
		
		*{
		font-family: $common-font;
		}
					
					
					
		h1{
	    @extend %paddingsHeader;
        @extend %NavWidthLimit;
		grid-area:head1;
		color: $header-color;
            @include nav-big-font{
                font-size: 2.2rem;
                width:100%;
            }
        font-weight: bold;
		}
		
		h3{
		@extend %paddingsHeader;
		grid-area: head3;
		color: $header-color;
		font-size:$nav-medium-font;
		}
		
		article{
            @extend %NavWidthLimit;
            @include nav-content-font{
                font-size: 1.6rem;
                width: 100%;
                }
		@include nav-mnu-paddings;
		}
		
		article:nth-of-type(1){
		grid-area: lnk1;
		}
		
		article:nth-of-type(2){
		grid-area: lnk2;
		}
		
		article:nth-of-type(3){
		grid-area: lnk3;
		}
		
		article:nth-of-type(4){
		grid-area: lnk4;
		}
		
		article:nth-of-type(5){
		grid-area: lnk5;
		}
		
}

/*************************
change of a viev of the navmenu & nav panel for mobile devices*/

@media (max-width: 768px){
    
    section.GridNav{
        /*7 rows and 1column*/
    grid-template-columns: 1fr;
grid-template-rows: repeat(7, auto);
grid-template-areas:"head1"
					"head3"
					"lnk1"
                    "lnk2" 
                    "lnk3"
                    "lnk4"
                    "lnk5";
        div{
            padding:0;
        }

    }
    
}