$content-color: #000;
$mnu-nav-color: #222;
$header-color: #111;
$button-color: #fff;
$highlight-color: #f00;
$button-color-hover: #700; 
$highlight-mnu-color: #008;

/*****BACKGROUNDS*/
$content-bkg: #fff;
$button-bkg: #111;
$footer-bkg: #5f5;
$button-bkg-hover: #8f8;

/******fonts****/
$common-font: 'Roboto', serif;
$nav-medium-font: 1.3rem;
$small-font: 1.0rem;
$space-letter-big: 0.3rem;




